<h2>[% content.order %].  [% content.title %]</h2>
<p>[% content.preamble %]</p>
<table id="tablesetter" class="display">
<thead>
<tr>
<th>Setter</th>
<th>Answer</th>
<th>Clues</th>
</tr>
</thead>
<tbody>
[% FOREACH setter IN content.table.keys.sort %]
  [% FOREACH answer IN content.table.${setter}.sort %]
  	<tr>
	<td rowpan="3">[% setter %]</td>
	<td>[% answer %]</td>
	<td>[% content.table.${setter}.${answer}.question.join("<br />\n") %]</td>
	</tr>
  [% END %]
[% END %]
</tbody>
</table>
<br />
<hr />
