<h2>{{.Order}}.  {{.Title}}</h2>
<p>{{.Preamble}}</p>
{{if .ChartJSON}}
<div id="{{.DivID}}"></div>
<br />
<div style="text-align: center; border:1px dashed black;">
<span>Change chart type: </span>
<select id="charttype_{{.JSVar}}">
	<option value="area">Area</option>
	<option value="bar">Bar</option>
	<option value="line">Line</option>
	<option value="pie">Pie</option>
	<option value="scatter">Scatter</option>
	<option value="spline">Spline</option>
	<option value="area-step">Step</option>
</select>
<button id="btn_charttype_{{.JSVar}}" value="{{.DefaultChart}}">Reset</button>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
	(function() {
		var observer = new IntersectionObserver(function(entries) {
			if (!entries[0].isIntersecting) return;
			observer.disconnect();

			var {{.JSVar}} = c3.generate({{.ChartJSON}});
			$("#charttype_{{.JSVar}}").val("{{.DefaultChart}}");

			$("#btn_charttype_{{.JSVar}}").click(function() {
				$("#charttype_{{.JSVar}}").val("{{.DefaultChart}}");
				{{.JSVar}}.transform($("#charttype_{{.JSVar}} option:selected").val());
			});

			$("#charttype_{{.JSVar}}").change(function() {
				{{.JSVar}}.transform($("#charttype_{{.JSVar}} option:selected").val());
			});
		}, { rootMargin: '200px' });

		observer.observe(document.getElementById('{{.DivID}}'));
	})();
}); // DOMContentLoaded
</script>
{{end}}
<br />
<hr />
