<h2>[% content.order %].  [% content.title %]</h2>
<p>[% content.preamble %]</p>
<script>
$(document).ready(function() {
    var table = $('#tablesetter').DataTable({
		ordering: false,
		deferRender: true,
		paging: true,
		ajax: 'ds_ajax.txt',
		columns: [% content.js.columns.json %]
    });

	// Setup - add a text input to each footer cell
	var $originalHeader = $('#tablesetter thead tr');
	var $originalHeaderClone = $originalHeader.clone();
	$originalHeader.find('th').each( function () {
			var title = $(this).text();
			$(this).html( '<input type="text" placeholder="'+title+'"/>' );
	} );

	$originalHeader.before($originalHeaderClone);

    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.header() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that.search( this.value ).draw();
            }
        } );
    } );
} );
</script>
<table id="tablesetter" class="display"></table>
