<html>
<head>
<link href="./cc/ui/chart_files/c3-0.4.18/c3.css" rel="stylesheet">
<link href="./cc/ui/chart_files/tablesorter-master/css/theme.default.css" rel="stylesheet">
<link href="./cc/ui/gcc.css" rel="stylesheet">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./cc/ui/chart_files/tablesorter-master/js/jquery.tablesorter.js"></script>
<script src="./cc/ui/chart_files/tablesorter-master/js/jquery.tablesorter.widgets.js"></script>
<script src="./cc/ui/chart_files/c3-0.4.18/c3.min.js"></script>
<script>
$( function() {
  $( '#tablesetter' ).tablesorter({
      theme : 'blue',
      // this is the default setting
      widgets : [ "zebra", "filter" ],
      widgetOptions: {
	      filter_reset         : '.reset',
	      filter_childRows     : true,
	      filter_childByColumn : true,
	      filter_childWithSibs : false
      }
    });
});
</script>
</head
<body>
<h1>Guardian Cryptic Crossword Analysis</h2>
<p>This page renders some charts from data gathered via the Guardian newspaper's
cryptic crosswords.  The data shown here was scraped via the web.</p>

<p>The git repository containing this data <a href="https://github.com/ThomasAdam/guardian-cc">is here.</a></p>
<p><b>Last Updated: </b>
[% PERL %]
    print scalar localtime
[% END %]
</p>
[% FOREACH sc IN content.keys.sort %]
[% content.$sc %]
[% END %]
</body>
</html>
